.App {
  text-align: center;

  .add-icon{
    color: white;
  }
    
  .bg-light{
  background-color: #b85add !important;
  }

  .card{
    border: 2px solid rgb(90, 12, 67);
    background-color: rgb(226, 128, 205) !important;
    margin: 40px 100px;
  }

  .navbar-brand {
    color: white !important;
  }

}